:root {
    --bg-color: #F6F8FA;
    --txt-color-1: #F6F8FA;
    --parimary: #F6F8FA;
    --gradeint2: #F4F4F4;
    --txt-color-3: #F6F8FA
}

.uk-accordion>:nth-child(n+2) {
    margin-top: 8px
}

.uk-accordion-title {
    background: #d9d9d9;
    padding: 4px 8px;
    border-radius: .5rem
}

.uk-modal-dialog {
    border-radius: .5rem
}

.uk-alert-close>svg {
    color: #333
}

.top-mail {
    width: 74px;
    top: -63px;
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 50px
}

.uk-label-success,
.uk-alert-success {
    background-color: #c6f6d5;
    color: #276749
}

.uk-label-warning {
    background-color: #fed7d7;
    color: #9b2c2c
}

.uk-alert {
    margin-bottom: 8px;
    padding: 9px 29px 9px 15px;
    border-radius: .5rem
}

.uk-alert-close {
    top: 14px
}

*+.uk-alert {
    margin-top: 0
}

#ico1 {
    left: 0;
    width: 30px;
    height: 30px;
    background: url(icons/icon-all.svg) 0 0;
    background-size: 170px
}

#ico2 {
    left: 16px;
    width: 30px;
    height: 30px;
    background: url(icons/icon-all.svg) -16px 0
}

.bg-icon_all {
    background-image: url(icons/icon-all.svg);
    background-repeat: no-repeat;
    width: 16px;
    background-position: -5px -5px
}

.thumb-gallery {
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06)
}

.yn-frame {
    position: absolute;
    top: 69px;
    left: 50%;
    width: 330px;
    height: auto;
    margin-left: -165px
}

.uk-section-secondary,
.uk-section-default {
    background: 0 0
}

.uk-section-muted {
    background: var(--bg-color)
}

.bg-f1 {
    background-image: var(--ornament);
    background-repeat: repeat-x;
    background-size: 190px;
    background-position: top
}

.bg-f2 {
    background-image: var(--ornament2);
    background-repeat: repeat-x;
    background-size: 190px;
    background-position: bottom
}

.bg-menu {
    background: 0 0;
    margin-bottom: 4px
}

.yn-menu {
    background-color: #fbfbfb;
    background-repeat: repeat-x;
    background-size: 190px;
    background-position: bottom;
    padding: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    border-radius: .5rem
}

.yn-color {
    background: var(--parimary);
    background: var(--gradeint2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.yn-color2 {
    color: '#CB997E';
}

.txt-simple {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 3px
}

.uk-link,
a {
    color: var(--parimary)
}

/* h1,
h2,
h3,
h4,
h5 {
    font-family: Signature;
    font-weight: 500;
    padding: 8px 0;
    font-size: 1.2rem;
} */

.midnight {
    font-family: Scarlet;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400
}

.playfair {
    font-family: Playfair;
    font-weight: 400;
    font-size: 1.7rem
}

blockquote {
    font-size: 16px
}

.logo {
    width: auto;
    height: 41px
}

.uk-container-small {
    max-width: 47rem
}

.uk-section-xsmall {
    padding-top: 8px;
    padding-bottom: 8px
}

.icon-ig {
    margin-top: 7px
}

.uk-button {
    border-radius: 8px;
    text-transform: none;
    border: 0
}

.uk-button-primary {
    margin-bottom: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    color: #fff;
    background: #666;
    font-weight: 400
}

.uk-button-primary:active,
.uk-button-primary:focus {
    background: var(--parimary)
}

.uk-button-success {
    margin-bottom: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    color: #666;
    background: var(--bg-color);
    font-weight: 400
}

.uk-button-success:active,
.uk-button-success:focus {
    background: var(--bg-color)
}

.btn-white {
    color: #333 !important;
    background-color: #fff !important;
    border-radius: 50px;
    text-transform: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    border: 0;
    font-weight: 400;
    border: 0 solid #fff
}

.btn-white:active,
.btn-white:focus {
    background-color: var(--txt-color-3) !important
}

.btn-thumb {
    text-transform: none;
    font-size: x-small;
    padding: 1px 14px;
    margin: 8px 0;
    line-height: 28px;
    border-radius: 8px;
    color: #222 !important;
    background-color: #fff !important
}

.thumb-fitur {
    margin-bottom: 16px
}

.img-theme {
    border-radius: 14px 14px 0 0
}

.img-thumb {
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    border: 4px solid #fff
}

.uk-overlay {
    padding: 8px 4px 14px;
    border-radius: 0 0 14px 14px;
    border: 4px solid #fff;
    border-top: 0
}

.uk-comment-primary {
    background-color: #fff;
    padding: 16px;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    margin-bottom: 8px
}

.uk-comment-header {
    display: flow-root;
    margin-bottom: 0
}

.uk-comment-title {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 4px
}

.uk-text-small {
    font-size: 16px
}

.img-maps {
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 700%;
    border-radius: 8px
}

.uk-slidenav {
    background: 0 0 !important
}

#navbar {
    transition: bottom .3s
}

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    min-height: 35px
}

.icon-menu>a>img {
    width: 30px;
    height: 30px;
    opacity: .6
}

.icon-menu>a {
    padding: 8px 9px !important;
    margin: 0 5px
}

.uk-active>a>img {
    opacity: .6;
    height: 30px;
    filter: invert(1)
}

.uk-active>a {
    background: var(--parimary);
    background: var(--gradeint2);
    border-radius: 8px
}

.uk-dotnav>*>* {
    width: 10px;
    height: 3px;
    border-radius: 0;
    border: 0;
    background-color: #d6d6d6
}

.uk-dotnav>.uk-active>a {
    background: rgba(102, 102, 102, .6);
    border-radius: 0;
    padding: 0 !important
}

.uk-input,
.uk-select,
.uk-textarea {
    background-color: #e3e3e3;
    border: none;
    border-radius: 4px
}

.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
    outline: 0;
    background-color: #e3e3e3;
    color: var(--txt-color-1)
}

@media screen and (min-width:960px) {
    .opening {
        background-image: url(../images/bg-medium.webp);
        background-position: center center
    }

    .uk-text-small {
        font-size: 16px
    }

    .yn-color2 {
        font-size: 2rem
    }

    .uk-countdown-number {
        font-size: 4rem
    }
}

@media screen and (min-width:1200px) {
    .opening {
        background-image: url(../images/bg-medium.webp);
        background-position: center center
    }

    .uk-text-small {
        font-size: 16px
    }

    .yn-color2 {
        font-size: 2.2rem
    }

    .uk-countdown-number {
        font-size: 4rem
    }
}

@media screen and (min-width:1600px) {
    .opening {
        background-image: url(../images/bg-medium.webp);
        background-position: center center
    }

    .uk-text-small {
        font-size: 16px
    }

    .yn-color2 {
        font-size: 2rem
    }

    .uk-countdown-number {
        font-size: 4rem
    }
}

.music-box {
    position: fixed;
    width: 37px;
    height: 160px;
    z-index: 120;
    bottom: 81px;
    right: 10px
}

.music-box .music-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: -30px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.music-box .music-holder iframe {
    width: 100%;
    height: 100%
}

.music-box button {
    background: #fbfbfb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    width: 37px;
    height: 37px;
    font-size: 18px;
    font-size: 1rem;
    outline: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 0
}

.music-box button i {
    font-size: 20px
}

.music-box .toggle-music-box {
    top: -50px;
    visibility: visible;
    opacity: 1
}

.music {
    padding: 0;
    background: 0 0 !important;
    position: relative;
    top: 103px;
    right: 180px
}

.music:focus {
    outline: none
}

#profileImage {
    background: #666;
    width: 37px;
    height: 37px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 20px;
    color: #fbfbfb;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    margin-top: -10px;
}

.uk-width-expand {
    padding-left: 8px
}

.uk-comment-body {
    padding-left: 46px;
    color: #333
}

.uk-width-expand>.uk-comment-title {
    font-family: Nunito
}

.uk-card-default {
    border-radius: .5rem
}

.uk-label {
    text-transform: none;
    border-radius: 4px;
    font-size: .7rem;
    padding: 1px 6px
}

.uk-comment-list>:nth-child(n+2) {
    margin-top: 0
}
