@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Signature;
      font-display: swap;
      font-weight: 400;
      src: url("https://db.onlinewebfonts.com/c/8ff81350298cf63e79de5e52688a6fff?family=Signature2");
    }
    @font-face {
      font-family: Greenlight Script;
      font-display: swap;
      font-weight: 200;
      src: url("https://db.onlinewebfonts.com/c/5658d7fb96eb7db22913c7f2344bfbf0?family=Greenlight+Script");
    }
    @font-face {
      font-family: Nermola Script;
      font-display: swap;
      font-weight: 300;
      src: url("https://db.onlinewebfonts.com/c/f77d24cec071da7b87563cf433dd0a4e?family=Nermola+Script+Regular");
    }
    @font-face {
      font-family: Scarlet;
      font-display: swap;
      src: url("https://db.onlinewebfonts.com/c/55b8a0ff6173900005e080b60fb661d7?family=Scarlett+Busiat_Demo");
    }
}

@layer components {
  .guestbook-form {
    @apply tw-bg-gray-lighter tw-appearance-none tw-rounded tw-w-full tw-py-2 tw-px-4 tw-ring-opacity-20 focus:tw-ring-2 focus:tw-ring-brown-lighter focus:tw-outline-none focus:tw-bg-gray-100;
  }
}
