<template>
    <div>
        <section id="acara">

            <div class="uk-container uk-container-small ">
                <h2 class="tw-text-3xl tw-mt-3 sm:tw-text-4xl md:tw-text-5xl tw-text-center yn-anim custom-font">
                    Save The Date </h2>
                <p class="tw-text-center tw-mt-5 tw-mb-8 tw-text-md">Kamis, 24 Oktober 2024</p>

                <div class="uk-grid-small uk-flex-center uk-child-width-auto yn-color2 yn-anim uk-grid uk-countdown uk-scrollspy-inview"
                    uk-grid uk-countdown="date: 2024-10-24T10:00:00+07:00">
                    <div>
                        <div class="sm:tw-text-4xl md:tw-text-5xl tw-font-semibold uk-countdown-number uk-countdown-days">
                        </div>
                        <div
                            class="sm:tw-text-3xl md:tw-text-4xl tw-font-semibold uk-countdown-label uk-margin-small uk-text-center">
                            Hari</div>
                    </div>
                    <div class="uk-countdown-separator"></div>
                    <div>
                        <div class="sm:tw-text-4xl md:tw-text-5xl tw-font-semibold uk-countdown-number uk-countdown-hours">
                        </div>
                        <div
                            class="sm:tw-text-3xl md:tw-text-4xl tw-font-semibold uk-countdown-label uk-margin-small uk-text-center">
                            Jam</div>
                    </div>
                    <div class="uk-countdown-separator"></div>
                    <div>
                        <div
                            class="sm:tw-text-4xl md:tw-text-5xl tw-font-semibold sm:tw-text-center uk-countdown-number uk-countdown-minutes">
                        </div>
                        <div
                            class="sm:tw-text-3xl md:tw-text-4xl tw-font-semibold uk-countdown-label uk-margin-small uk-text-center">
                            Menit</div>
                    </div>
                    <div class="uk-countdown-separator"></div>
                    <div>
                        <div
                            class="sm:tw-text-4xl md:tw-text-5xl tw-font-semibold sm:tw-text-center uk-countdown-number uk-countdown-seconds">
                        </div>
                        <div
                            class="sm:tw-text-3xl md:tw-text-4xl tw-font-semibold uk-countdown-label uk-margin-small uk-text-center">
                            Detik</div>
                    </div>
                </div>


                <div class="uk-width-1-1 uk-text-center" style="color:#F4F4F4">
                    <div class="uk-grid-small uk-child-width-expand uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-first-column">

                            <div class="tw-py-12 tw-mb-1">
                                <img class="tw-mx-auto" src="assets/images/pemisah.webp" alt="divider">
                            </div>

                            <div class="tw-grid tw-grid-cols-1 tw-gap-10">
                                <div>
                                    <p class="tw-text-brown-lighter tw-font-bold tw-text-1xl yn-anim uk-scrollspy-inview sm:tw-text-2xl lg:tw-text-3xl custom-font"
                                        >Akad</p>
                                    <p class="tw-text-center tw-mt-2 md:tw-mt-4 tw-text-md sm:tw-text-base md:tw-text-base"
                                        style="font-size: 14px;">Pukul 08.00 - 09.00 WIB</p>
                                </div>
                                <div>
                                    <p class="tw-text-brown-lighter tw-font-bold tw-text-1xl sm:tw-text-2xl yn-anim uk-scrollspy-inview lg:tw-text-3xl custom-font">Resepsi</p>
                                    <p class="tw-text-center tw-mt-2 md:tw-mt-4 tw-text-md sm:tw-text-base md:tw-text-base"
                                        style="font-size: 14px;">Pukul 10.00 - 12.00 WIB</p>
                                </div>
                            </div>

                            <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Pernikahan%20Faradina%20&%20Fino%20di&Waroeng%20Ji%20Nung&dates=20241024T030000Z/20241024T050000Z&details=Jangan%20Lupa,%20Datang%20Tepat%20Waktu%20Yaa%20di%20https://maps.app.goo.gl/yySu3tQWd1M9r6ja6%20(Waroeng%20Ji%20nung)%20agar%20bisa%20berbincang%20lebih%20lama%20ya..salam%20dari%20yang%20berbahagia.&location=Pernikahan%20Faradina%20Dan%20Fino&sprop=&sprop=name:"
                                class="uk-button uk-button-default uk-button-small btn-white"
                                style="margin-top:16px; padding: 4px 16px; border-radius: 20px;">Tambah di Kalender <span uk-icon="icon: file-edit;" class="uk-icon"
                        ></span>
<div  style="width: 15px;height: 15px;float: right;margin-top: 5px;"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <path fill="#EBEDED" d="M100 95a5 5 0 0 1-5 5H5a5 5 0 0 1-5-5V5a5 5 0 0 1 5-5h90a5 5 0 0 1 5 5v90z"/>
  <path fill="#D4D7DA" d="M95 97H5a5 5 0 0 1-5-5v3a5 5 0 0 0 5 5h90a5 5 0 0 0 5-5v-3a5 5 0 0 1-5 5z"/>
  <path fill="#E64C3C" d="M0 31V5a5 5 0 0 1 5-5h90a5 5 0 0 1 5 5v26H0z"/>
  <path fill="#C03A2B" d="M0 28h100v2.75H0z"/>
  <path d="M26.77 55.045c.49-1.579 1.226-2.959 2.208-4.14.981-1.181 2.215-2.101 3.703-2.761 1.487-.658 3.197-.988 5.129-.988 1.472 0 2.875.229 4.209.689s2.507 1.12 3.519 1.979c1.012.858 1.817 1.917 2.415 3.174.598 1.258.897 2.668.897 4.232 0 1.625-.261 3.021-.782 4.186a11.004 11.004 0 0 1-2.07 3.105 17.666 17.666 0 0 1-2.921 2.461 249.937 249.937 0 0 1-3.289 2.185 42.728 42.728 0 0 0-3.22 2.323 14.578 14.578 0 0 0-2.76 2.897h15.226V80H25.39c0-1.87.268-3.496.805-4.876a12.964 12.964 0 0 1 2.185-3.703 19.141 19.141 0 0 1 3.243-3.013 143.75 143.75 0 0 1 3.933-2.807c.705-.49 1.457-.988 2.254-1.494a15.002 15.002 0 0 0 2.185-1.68 8.961 8.961 0 0 0 1.656-2.069c.444-.767.667-1.641.667-2.622 0-1.564-.453-2.783-1.357-3.657-.905-.874-2.063-1.312-3.473-1.312-.951 0-1.756.224-2.415.667a4.975 4.975 0 0 0-1.587 1.748 8.053 8.053 0 0 0-.851 2.393 13.66 13.66 0 0 0-.253 2.599h-6.256c-.062-1.84.153-3.549.644-5.129zm23.966 17.503v-5.979L64.721 47.8h5.842v19.366h4.277v5.382h-4.277V80h-6.21v-7.452H50.736zm13.478-16.56l-8.325 11.178h8.464V55.988h-.139z" fill="#35495E"/>
  <text style="fill: rgb(255, 255, 255); font-size: 15.1px; font-weight: 700; white-space: pre;" x="11.518" y="19.877" transform="matrix(1, 0, 0, 1, 1.5155820846557617, -0.6355839967727661)">OKTOBER<tspan x="11.517999649047852" dy="1em">​</tspan></text>
</svg>
</div>
</a>

                            <div class="tw-py-12 tw-mb-1">
                                <img class="tw-mx-auto" src="assets/images/pemisah.webp" alt="divider">
                            </div>

                            <p class="tw-text-1xl tw-text-center md:tw-text-2xl yn-anim uk-scrollspy-inview"> Waroeng Ji Nung </p>
                            <p style="font-size:14px; text-align:center; margin: 8px 0 0px 0;">
                                Jl. Wonogiri - Sukoharjo, Dusun III, Telukan, Kec. Grogol, Kabupaten Sukoharjo, Jawa Tengah 57552 </p>

                            <p style="font-size:14px; text-align:center; margin: 8px 0 0px 0;">
                            </p>

                            <a href="https://maps.app.goo.gl/yySu3tQWd1M9r6ja6"
                                class="uk-button uk-button-default uk-button-small btn-white"
                                style="margin-top:16px; padding: 4px 16px; border-radius: 20px;">Lihat Lokasi Via Google Map
                                <svg width="10px" height="10px" style="margin-top: 5px;float: right;" viewBox="0 0 24 24" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
                                    <g transform="translate(0 -1028.4)">
                                    <path d="m8 1030.4 8 1v19l-8-1z" fill="#ecf0f1"/>
                                    <path d="m2 1031.4 6-1v19l-6 1z" fill="#bdc3c7"/>
                                    <path d="m16 1031.4 6-1v19l-6 1z" fill="#bdc3c7"/>
                                    <path d="m3 1032.4 5-1v17l-5 1z" fill="#27ae60"/>
                                    <path d="m8 1031.4 8 1v17l-8-1z" fill="#2ecc71"/>
                                    <path d="m21 1048.4-5 1v-17l5-1z" fill="#27ae60"/>
                                    <path d="m5.6875 1031.8-2.3125 0.5 4.625 4.9v-2.9l-2.3125-2.5z" fill="#f39c12"/>
                                    <path d="m21 1046.4-5 1v-6l5-3z" fill="#f39c12"/>
                                    <path d="m21 1048.4-5 1v-6l5-3z" fill="#2980b9"/>
                                    <path d="m8 1042.4 8-1v6l-8-1z" fill="#f1c40f"/>
                                    <path d="m8 1044.4 8-1v6l-8-1z" fill="#3498db"/>
                                    <path d="m3 1045.4 5-3v4l-5 1z" fill="#f39c12"/>
                                    <path d="m3 1047.4 5-3v4l-5 1z" fill="#2980b9"/>
                                    <path d="m8 8.8008v-2.8985l4 8.6597h-1.469z" transform="translate(0 1028.4)" fill="#f1c40f"/>
                                    </g>
                                </svg></a>

                            <p class="tw-text-1xl tw-text-center mt-6 md:tw-text-2xl tw-mt-10 yn-anim uk-scrollspy-inview"> Zoom </p>
                            <a href="https://us06web.zoom.us/j/82501451516?pwd=XznsaTLEKqkZ2lmJ9eVKFdMmBTlvZS.1"
                                class="uk-button uk-button-default uk-button-small btn-white"
                                style="margin-top:16px; padding: 4px 16px; border-radius: 20px;">Masuk Zoom
                                <svg width="20px" height="20px" style="margin-top: 5px;float: right;" viewBox="0 0 30 30" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
                                <path d="M2 11.6C2 8.23969 2 6.55953 2.65396 5.27606C3.2292 4.14708 4.14708 3.2292 5.27606 2.65396C6.55953 2 8.23969 2 11.6 2H20.4C23.7603 2 25.4405 2 26.7239 2.65396C27.8529 3.2292 28.7708 4.14708 29.346 5.27606C30 6.55953 30 8.23969 30 11.6V20.4C30 23.7603 30 25.4405 29.346 26.7239C28.7708 27.8529 27.8529 28.7708 26.7239 29.346C25.4405 30 23.7603 30 20.4 30H11.6C8.23969 30 6.55953 30 5.27606 29.346C4.14708 28.7708 3.2292 27.8529 2.65396 26.7239C2 25.4405 2 23.7603 2 20.4V11.6Z" fill="#4087FC"/>
                                <path d="M8.26667 10C7.56711 10 7 10.6396 7 11.4286V18.3571C7 20.369 8.44612 22 10.23 22L17.7333 21.9286C18.4329 21.9286 19 21.289 19 20.5V13.5C19 11.4881 17.2839 10 15.5 10L8.26667 10Z" fill="white"/>
                                <path d="M20.7122 12.7276C20.2596 13.1752 20 13.8211 20 14.5V17.3993C20 18.0782 20.2596 18.7242 20.7122 19.1717L23.5288 21.6525C24.1019 22.2191 25 21.7601 25 20.9005V11.1352C25 10.2755 24.1019 9.81654 23.5288 10.3832L20.7122 12.7276Z" fill="white"/>
                                </svg></a>
                                <p class="tw-text-sm tw-leading-relaxed tw-mt-2">
                                Ungkapan terima kasih yang tulus dari kami apabila Bapak/Ibu/Teman-teman berkenan hadir dan
                                memberikan doa restu.
                            </p>

                            <div class="tw-py-12">
                                <img class="tw-mx-auto" src="assets/images/pemisah.webp" alt="divider">
                            </div>

                            <p class="tw-text-sm lg:tw-font-semibold tw-font-normal tw-text-center w-py-2"><i><b>وَمِنْ آيَاتِهِ أَنْ خَلَقَ لَكُمْ مِنْ أَنْفُسِكُمْ أَزْوَاجًا لِتَسْكُنُوا إِلَيْهَا وَجَعَلَ بَيْنَكُمْ مَوَدَّةً وَرَحْمَةً ۚ إِنَّ فِي ذَٰلِكَ لَآيَاتٍ لِقَوْمٍ يَتَفَكَّرُونَ</b></i></p>
                            <p class="lg:tw-block tw-leading-relaxed tw-text-sm lg:tw-font-semibold tw-font-normal tw-text-center tw-py-4 tw-mb-7">
                                "<i>Dan di antara tanda-tanda kekuasaan-Nya ialah Dia menciptakan untukmu istri-istri dari jenismu sendiri,<br> supaya kamu cenderung dan merasa tenteram kepadanya,<br>dan dijadikan-Nya di antaramu rasa kasih dan sayang. <br> Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda bagi kaum yang berpikir. <br>Qs. Ar Ruum ayat 21</i>"</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {

    }
</script>

<style>

</style>
