<template>
    <div>
        <section class="tw-bg-cover tw-bg-top"
            style="background-image: url('assets/images/gallery/cover.webp');">
            <div class="outer-cover tw-px-2.5 tw-pt-5 tw-pb-16">
                <div class="tw-p-4">
                    <p class="tw-font-light tw-text-sm lg:tw-text-md lg:tw-font-normal tw-text-center uk-scrollspy-inview"
                        style="letter-spacing: 3px; color:#ffffffb3;">WEDDING INVITATION</p>
                    <div class="tw-h-64"></div>
                    <div class="tw-py-4">
                        <h2 class="tw-text-4xl lg:tw-text-5xl tw-text-center tw-font-light uk-scrollspy-inview custom-font">Faradina & Fino</h2>
                    </div>
                    <p class="tw-text-center tw-font-light tw-text-xs lg:tw-text-lg lg:tw-font-normal uk-scrollspy-inview mb-5"
                        style="color: #bdaa8b; letter-spacing: 3px;">24 OKTOBER 2024</p>
                    <p class="tw-text-center tw-font-light tw-text-sm lg:tw-text-xl lg:tw-font-bold uk-scrollspy-inview"
                        >#TheJourneyof2F</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
</style>
