<template>
    <div>

        <section id="gallery" class="uk-section uk-section-default bg-f2" style="padding-bottom: 40px;">
            <div class="uk-container uk-container-small">
                <h2 class="tw-text-3xl sm:tw-text-4xl tw-mb-8 uk-text-center midnight yn-anim uk-scrollspy-inview custom-font">
                    Gallery
                </h2>
                <div class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid" uk-grid="" uk-lightbox="animation: slide">
                    <div class="uk-first-column">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/1.webp">
                            <img class="thumb-gallery" src="assets/images/gallery/1.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div>
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/2.webp">
                            <img class="thumb-gallery" src="assets/images/gallery/2.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div class="uk-grid-margin uk-first-column">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/3.webp" style="">
                            <img class="thumb-gallery" src="assets/images/gallery/3.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div class="uk-grid-margin uk-first-column">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/4.webp" style="">
                            <img class="thumb-gallery" src="assets/images/gallery/4.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div class="uk-grid-margin">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/5.webp" style="">
                            <img class="thumb-gallery" src="assets/images/gallery/5.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div class="uk-grid-margin">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/6.webp" style="">
                            <img class="thumb-gallery" src="assets/images/gallery/6.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div class="uk-grid-margin uk-first-column">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/7.webp" style="">
                            <img class="thumb-gallery" src="assets/images/gallery/7.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                    <div class="uk-grid-margin">
                        <a class="uk-inline yn-anim uk-scrollspy-inview "
                            href="assets/images/gallery/8.webp" style="">
                            <img class="thumb-gallery" src="assets/images/gallery/8.webp" alt="Our Prawedding Photo">
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>

</style>
