<template>
    <div>
        <img src="assets/images/frame-tlp.webp" alt="Frame TM" style="width:20%;height: auto;" class="animate__animated animate__fadeInTopLeft animate__slow tw-mr-auto">
        <img src="assets/images/frame-trp.webp" alt="Frame TM" style="width: 17%;height: auto;" class="tw-ml-auto lg:tw--mt-48 tw--mt-20 xl:tw--mt-72 md:tw--mt-56 sm:tw--mt-36 frame-tr animate__animated animate__fadeInTopRight animate__slow">
        <img src="assets/images/frame-tm.webp" alt="Frame TM" style="width: 7%;height: auto;" class="tw-mx-auto md:tw--mt-42 tw--mt-12 sm:tw--mt-20  animate__animated animate__fadeInDown animate__slow">
        <section id="mempelai">
            <!-- Frame top mid -->
            <div class="sm:tw-max-w-screen-sm md:tw-max-w-screen-md lg:tw-max-w-screen-lg tw-mx-auto tw-px-2.5 tw-py-10">

                <img src="assets/images/bismillah.webp" class="tw-mx-auto tw-mb-3 tw-sm:mb-5"
                    style="opacity: 0.9;" alt="Bismillah" width="212">
                    <!-- <img src="assets/images/frame-trr.webp" alt="Frame TM" class="xl:tw--ml-56 lg:tw--ml-28 md:tw--ml-28 md:tw--mt-96 frame-tl animate__animated animate__fadeInTopLeft animate__slow">
                    <img src="assets/images/frame-tll.webp" alt="Frame TM" style="margin-top: -590px;" class="xl:tw--ml-56 lg:tw--ml-28 md:tw--ml-28 frame-tl animate__animated animate__fadeInTopLeft animate__slow"> -->
                <p class="tw-text-sm lg:tw-font-semibold tw-font-normal tw-text-center w-py-2">Assalamualaikum warahmatullahi wabarakatuh</p>
                <p class="tw-text-sm tw-leading-relaxed lg:tw-font-semibold tw-font-normal tw-text-justify md:tw-text-center lg:tw-hidden tw-py-4 tw-mb-10">
                    Dengan memohon rahmat dan ridho-Mu Ya
                    Allah, Kami bermaksud mengadakan acara pernikahan putra dan putri kami.
                </p>
                <p class="tw-hidden lg:tw-block tw-leading-relaxed tw-text-sm lg:tw-font-semibold tw-font-normal tw-text-justify md:tw-text-center tw-py-4 tw-mb-16">
                    Dengan memohon rahmat dan ridho-Mu Ya
                    Allah, <br> Kami bermaksud mengadakan acara pernikahan putra dan putri kami.
                </p>

                <div class="lg:tw-w-4/5 lg:tw-mx-auto">
                    <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 sm:tw-gap-4 md:tw-gap-2 lg:tw-gap-6 tw-mx-auto">
                        <div class="tw-text-center">
                            <div class="image-editable mx-auto animate__animated animate__fadeInRight animate__slow uk-scrollspy-inview" style="height: 75%; width: 90%; overflow: hidden; margin-bottom: -40px; margin-top: auto; border: 3px solid #dddbd7; border-radius: 250px 250px 0px 0px; padding: 10px;"><img src="assets/images/cpw.webp" alt="32840-gallery-1681321795.webp" style="width: 100%; height: 100%; object-fit: cover; border-radius: 250px 250px 0px 0px;"></div>
                            <h2 class="tw-py-3 m-name tw-text-1xl sm:tw-text-lg md:tw-text-1xl lg:tw-text-2xl tw-mt-10">Faradina Dian Rumada S.Psi</h2>
                            <p class="tw-text-sm lg:tw-font-semibold tw-font-normal tw-mb-12 sm:tw-mb-20">
                                Putri dari Bpk Sumardi <br>& Ibu Ana Ria
                            </p>
                        </div>
                        <div class="tw-text-center">
                            <div class="image-editable mx-auto animate__animated animate__fadeInLeft animate__slow uk-scrollspy-inview" style="height: 75%; width: 90%; overflow: hidden; margin-bottom: -40px; margin-top: auto; border: 3px solid #dddbd7; border-radius: 250px 250px 0px 0px; padding: 10px;"><img src="assets/images/cpp.webp" alt="32840-gallery-1681321795.webp" style="width: 100%; height: 100%; object-fit: cover; border-radius: 250px 250px 0px 0px;"></div>
                            <h2 class="tw-py-3 m-name tw-text-1xl sm:tw-text-lg md:tw-text-1xl lg:tw-text-2xl tw-mt-10">Marfino Hamzah</h2>
                            <p class="tw-text-sm lg:tw-font-semibold tw-font-normal tw-mb-10">
                                Putra dari Bpk Edfin Hartsan <br>& Ibu Maryatul Kibtiyah
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="divider">

            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>

/* @media screen and (min-width: 1050px) {
    .frame-tr {
    right: 0px;
    top: 54%;
    width: 17%;
    height: auto;
    position: absolute;
    }
} */

/* Media query untuk ukuran layar kurang dari atau sama dengan 1050px x 580px */
/* @media screen and (max-width: 1050px) {
  .frame-tr {
    right: 0px;
    top: 51%;
    width: 17%;
    height: auto;
    position: absolute;
  }
} */
.m-name {
    font-family: Greenlight Script;
}


.divider {
    margin: 0 auto;
    width: 35%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #f4f4f4, rgba(255, 255, 255, 0));
}
</style>
