
<template>
    <div>
        <section id="ourstory" class="uk-section uk-section-default bg-f2" style="padding-bottom: 40px;">
            <div class="uk-container uk-container-small">
                <h2 class="tw-text-3xl sm:tw-text-4xl tw-mb-8 uk-text-center midnight yn-anim uk-scrollspy-inview custom-font">
                    Sepenggal Kisah Kami
                </h2>
                <center>

                    <h4>
                        Tatkala gelap adalah rona untuk angkasa, mentari hadir menjiwai bintang dengan siraman cahaya. <br><br> Pun ketika hidup tak pernah berhenti menghadirkan tanda tanya, kau hadir dengan cinta dan keyakinan tuk jadi teman hidup selamanya.
                    </h4>
                </center>
                <br>
                <br>
                <br>
                <div class="container bg-gray-200 mx-auto w-full h-full">
                    <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-10 timeline-container">

                        <div class="timeline-item">
                            <div class="flex items-center">
                                <svg class="w-4 h-4 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                </svg>
                                <div class="bg-red-500 text-white rounded-full h-8 w-8 flex items-center justify-center">
                                    <span class="text-xs font-bold">2008</span>
                                </div>
                                <h2 class="ml-4 text-xl font-semibold">First Meet</h2><br><br>
                            </div>
                                    <div class="mt-4">
                                        <img class="w-full rounded-lg" src="assets/images/gallery/os1.webp" alt="Awal Cerita">
                                        <p class="mt-4 text-gray-700 text-sm tw-justify-center" style="text-align: justify;">
                                            <br><br>
                                            Kami pertama kali bertemu di tahun 2008 saat kami menjadi murid baru di SDN Serengan II Surakarta. Kami tidak terlalu dekat saat itu karena kami merasa kami memiliki perbedaan karakter yang signifikan. Faradina adalah anak perempuan yg cantik, tinggi, sangat mandiri, pemberani, pintar, percaya diri, penuh energi positif dan banyak yang menyukainya saat itu, bisa dibilang dia adalah primadona. Fino adalah anak laki-laki yang pendiam, kekanak-kanakan, pintar, suka menyendiri, ia juga penyuka kartun (BEN 10, Bakugan, serta Play station). Bisa dibilang kami tidak banyak berkomunikasi di masa-masa SD hingga kami lulus dan berpisah dari masa SMP, SMK, hingga awal kuliah dimana kita akan dipertemukan kembali.
                                        </p>
                                    </div>
                            </div>

                            <div class="timeline-item">
                                <div class="flex items-center">
                                    <svg class="w-4 h-4 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                    </svg>
                                    <div class="bg-red-500 text-white rounded-full h-8 w-8 flex items-center justify-center">
                                        <span class="text-xs font-bold">2021</span>
                                    </div>
                                    <h2 class="ml-4 text-xl font-semibold">Fall in Love</h2><br><br>
                                </div>
                                <div class="mt-4">
                                    <img class="w-full rounded-lg" src="assets/images/gallery/os2.webp" alt="Lamaran">
                                    <p class="mt-4 text-gray-700 text-sm tw-justify-center"  style="text-align: justify;">
                                        <br><br>
                                        Di bulan Mei 2021 kami dipertemukan kembali saat event buka bersama serta reuni SD, tepat 10 tahun setelah kami berpisah tanpa adanya komunikasi. Kami sering menjalin komunikasi setelah acara tersebut. Komunikasi kami semakin intens dan memiliki kecocokan satu sama lain, sehingga kami memutuskan untuk menjalin komitmen dalam sebuah hubungan di bulan Juli 2021.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="flex items-center">
                                    <svg class="w-4 h-4 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                    </svg>
                                    <div class="bg-red-500 text-white rounded-full h-8 w-8 flex items-center justify-center">
                                        <span class="text-xs font-bold">2021</span>
                                    </div>
                                    <h2 class="ml-4 text-xl font-semibold">Dating</h2><br><br>
                                </div>
                                <div class="mt-4">
                                    <img class="w-full rounded-lg" src="assets/images/gallery/os3.webp" alt="Lamaran">
                                    <p class="mt-4 text-gray-700 text-sm tw-justify-center" style="text-align: justify;">
                                        <br><br>
                                        Dalam menjalani hubungan ini kami dipaksa untuk menjalin hubungan dengan jarak yang cukup jauh (LDR) karena Fino harus bekerja di Jakarta sedangkan Faradina harus menyelesaikan studinya di Solo. Banyak suka, duka, serta masalah yang sudah kami lalui selama 3 tahun menjalin hubungan hingga kami memutuskan untuk melanjutkan ke jenjang yang lebih serius, yaitu sebuah pertunangan.
                                    </p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="flex items-center">
                                    <svg class="w-4 h-4 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                    </svg>
                                    <div class="bg-red-500 text-white rounded-full h-8 w-8 flex items-center justify-center">
                                        <span class="text-xs font-bold">2024</span>
                                    </div>
                                    <h2 class="ml-4 text-xl font-semibold">Engagement</h2><br><br>
                                </div>
                                <div class="mt-4">
                                    <img class="w-full rounded-lg" src="assets/images/gallery/os4.webp" alt="Lamaran">
                                    <p class="mt-4 text-gray-700 text-sm tw-justify-center" style="text-align: justify;">
                                        <br><br>
                                        Tepat di hari lahir Fino yang ke-23 yaitu di tanggal 26 JULI 2024, Fino memberanikan diri membawa keluarga besarnya untuk melamar Faradina, memberikan sebuah kepastian dan keseriusan akan pernikahan dan awal yang baru bagi Faradina dan Fino yang kemudian menghasilkan sebuah tanggal pernikahan yang mana akan menjadi awal bagi perjalanan #TheJourneyof2F
                                    </p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="flex items-center">
                                    <svg class="w-4 h-4 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                    </svg>
                                    <div class="bg-red-500 text-white rounded-full h-8 w-8 flex items-center justify-center">
                                        <span class="text-xs font-bold">2024</span>
                                    </div>
                                    <h2 class="ml-4 text-xl font-semibold">The Wedding</h2><br><br>
                                </div>
                                <div class="mt-4">
                                    <img class="w-full rounded-lg" src="assets/images/gallery/os5.webp" alt="Lamaran">
                                    <p class="mt-4 text-gray-700 text-sm tw-justify-center" style="text-align: justify;">
                                        <br><br>
                                        Tepat di hari lahir Faradina ke 23, yaitu di tanggal 24 Oktober 2024 insyaallah kami akan melangsungkan pernikahan yang akan menjadi awal bagi kami dalam mengarungi samudera kehidupan dalam sebuah bahtera rumah tangga #TheJourneyof2F
                                    </p>
                                </div>
                            </div>

    </div>
</div>

            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
 .timeline-container {
            position: relative;
        }
        .timeline-container::before {
            content: '';
            position: absolute;
            left: 1rem; /* Sesuaikan dengan jarak dari tepi */
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: #E5E7EB; /* Warna garis */
        }
        .timeline-item {
            padding-left: 2.5rem; /* Sesuaikan dengan jarak dari garis ke konten */
            margin-bottom: 2rem; /* Jarak antar item */
            position: relative;
        }
        .timeline-item svg {
    margin-right: 8px;
    color: #E0245E; /* Warna ikon love */
    width: 16px; /* Lebar ikon love */
    height: 16px; /* Tinggi ikon love */
}

</style>
