<template>
  <div>
        <section id="mempelai">


<!-- Frame bottom right -->

            <div class="sm:tw-max-w-screen-sm md:tw-max-w-screen-md lg:tw-max-w-screen-lg tw-mx-auto tw-px-2.5 tw-py-10">

                <img src="{{ asset('assets/images/bismillah.webp') }}" class="tw-mx-auto tw-mb-3 tw-sm:mb-5" style="opacity: 0.7; filter: invert()" alt="Bismillah" width="212">

                <p class=
                    "tw-font-normal tw-text-base tw-text-center
                    tw-py-2">
                    Assalamualaikum warahmatullahi wabarakatuh</p>
                <p class=
                    "tw-font-normal tw-text-base tw-text-justify md:tw-text-center lg:tw-hidden
                    tw-py-4 tw-mb-10">
                    Dengan memohon rahmat dan ridho-Mu Ya
                    Allah, Kami bermaksud mengadakan acara pernikahan putra dan putri kami.</p>
                <p class=
                    "tw-hidden lg:tw-block tw-font-normal tw-text-base tw-text-justify md:tw-text-center
                    tw-py-4 tw-mb-16">
                    Dengan memohon rahmat dan ridho-Mu Ya
                    Allah, <br> Kami bermaksud mengadakan acara pernikahan putra dan putri kami.</p>

                <div class="lg:tw-w-4/5 lg:tw-mx-auto yn-anim uk-scrollspy-inview">
                    <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 sm:tw-gap-4 md:tw-gap-2 lg:tw-gap-6 tw-mx-auto">
                        <div class="tw-text-center">
                            <img src="{{ asset('assets/images/bismillah.webp') }}" class="tw-mx-auto tw-mb-3 tw-sm:mb-5" style="opacity: 0.7; filter: invert()" alt="Bismillah" width="212">
                            <h2 class="tw-py-3 m-name tw-text-1xl sm:tw-text-lg md:tw-text-1xl lg:tw-text-2xl">Marfino Hamzah</h2>
                            <p class="tw-text-sm tw-font-normal tw-mb-10">
                                Putra dari Bpk Edfin Hartsan <br>& Ibu Maryatul Kibtiyah
                            </p>
                        </div>
                        <div class="tw-text-center">
                            <img src="{{ asset('assets/images/bismillah.webp') }}" class="tw-mx-auto tw-mb-3 tw-sm:mb-5" style="opacity: 0.7; filter: invert()" alt="Bismillah" width="212">
                            <h2 class="tw-py-3 m-name tw-text-1xl sm:tw-text-lg md:tw-text-1xl lg:tw-text-2xl">Faradina Dian Rumada S.Psi </h2>
                            <p class="tw-text-sm tw-font-normal tw-mb-12 sm:tw-mb-20 md:tw-mb-20 lg:tw-mb-20">
                                Putri dari Bpk. Sumardi <br>& Ibu Ana Ria
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
