<template>
  <div>
        <!-- navbar -->
            <div id="navbar" class="uk-section uk-section-xsmall uk-section-muted uk-position-bottom uk-position-fixed bg-menu" style="z-index: 121; bottom: -78px;">
                <div class="uk-container uk-container-small">
                    <div class="uk-text-small yn-menu">
                        <nav class="uk-navbar" uk-navbar>
                            <div class="uk-navbar-center">
                                <ul id="ynMn" class="uk-navbar-nav" uk-scrollspy-nav="closest: li; scroll: true">
                                    <li class="icon-menu uk-active"><a href="#opening" uk-scroll><img src="assets/images/menu/icon-opening.svg" alt="Icon Opening"></a></li>
                                    <li class="icon-menu"><a href="#mempelai" uk-scroll><img src="assets/images/menu/icon-couple.svg"></a></li>
                                    <li class="icon-menu"><a href="#acara" uk-scroll><img src="assets/images/menu/icon-date.svg"></a> </li>
                                    <li class="icon-menu"><a href="#gallery" uk-scroll><img src="assets/images/menu/icon-gallery.svg"></a></li>
                                    <li class="icon-menu"><a href="#ourstory" uk-scroll><img src="assets/images/menu/icon-ourstory.svg"></a></li>
                                    <li class="icon-menu"><a href="#bukutamu" uk-scroll><img src="assets/images/menu/icon-chat.svg"></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
