<template>
    <div class="sm:tw-max-w-screen-sm tw-px-3 sm:tw-px-7 tw-mx-auto protocol">
        <div class="tw-flex tw-py-4 tw-px-10">
            <div class="tw-mx-full">
               <h2 class="tw-text-3xl sm:tw-text-4xl tw-text-center custom-font yn-anim uk-scrollspy-inview"> Tata Tertib & Dress Code Acara </h2>
            </div>
        </div>

        <div class="carousel tw-mt-8 tw-w-full" data-flickity='{ "autoPlay": "true" }'>

            <div class="carousel-cell tw-w-full tw-h-full">
                <div class="card tw-px-4 tw-py-4 tw-h-full">
                    <div class="tw-flex  tw-items-center">
                        <div class="tw-w-full">
                            <img src="assets/images/dc.webp" class="tw-h-auto tw-mx-auto" alt="Berlaku 2 orang">
                               <p class="tw-text-center tw-text-base sm:tw-text-xl tw-font-semibold tw-break-words">Tamu Undangan Dimohon Untuk Menyesuaikan Dengan Warna Palet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell tw-w-full tw-h-28 kedua">
                <div class="card tw-px-4 tw-py-4 mt-20 tw-h-full kedua">
                    <div class="tw-flex tw-items-center">
                        <div class="tw-w-1/4">
                            <img src="assets/images/protocol/protocol-2.webp" width="85" class="tw-h-auto tw-mx-auto" alt="Berlaku 2 orang">
                        </div>
                        <div class="tw-w-3/4">
                           <p class="tw-text-center tw-text-base sm:tw-text-xl tw-font-semibold tw-break-words">Undangan ini hanya berlaku untuk 2 orang</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell tw-w-full tw-h-28 kedua">
                <div class="card tw-px-4 tw-py-4 mt-20 tw-h-full kedua">
                    <div class="tw-flex tw-items-center">
                        <div class="tw-w-1/4">
                            <img src="assets/images/protocol/protocol-3.webp" width="85" class="tw-h-auto tw-mx-auto" alt="tidak menerima tamu">
                        </div>
                        <div class="tw-w-3/4">
                           <p class="tw-text-center tw-text-base sm:tw-text-xl tw-font-semibold tw-break-words">Dengan tidak mengurangi rasa hormat, kami tidak menerima tamu di rumah.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>


.carousel {
    height: 500px !important;
}

.card {
    border-color: #F4F4F4;
    border-radius: 0.9rem;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

.tw-text-grey-darker {
    --tw-text-opacity: 1;
    color: rgba(96,111,123,var(--tw-text-opacity));
}

.carousel-cell {
  margin-right: 10px;
  height: 100px;
}

.kedua {
    margin-top: 100px;
}
</style>
